
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import 'compass';

// Shift Libraries
@import 'base/toolbox';
@import 'base/bootstrap_mixins';
@import 'base/reset';
@import 'base/vars';
@import 'base/colors';
@import 'base/text';
@import 'base/links';
@import 'base/buttons';
@import 'base/forms';
@import 'base/icons';
@import 'nvd3';
/* app css stylesheet */

* {
  @extend .helvetica;
}

body {
  background-color: $shiftCharcoal;
  color: $shiftOffwhite;
}

.hide {
  display: none;
}

.menu {
  list-style: none;
  margin-bottom: 2em;
}

.menu > li {
  display: inline-block;
  padding: 5px;
  background-color: white;
  margin: 0;
}

.menu > li.hide {
  display: none;
}

p.status {
  color: red;
}

p.status.good, p.good {
  color: green;
}

form label {
  display: block;
  margin: 15px 0;
}

form label span {
  display: block;
  font-weight: bold;
}

.error {
  color: red;
}

fieldset {
  float: left;
  margin-right: 25px;
  padding: 25px;
}

.meter_wrapper {
  background-color: $shiftGray;
  margin: 0 10px;
  padding: 10px;
}

.meter_title {
  color: $shiftCharcoal;
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
}

.meter_value {
  float: left;
}

.meter_subject_wrapper {
  color: lighten($shiftCharcoal, 10%);
  margin: 15px 0 -20px;
  font-size: 1.2em;
}

.meter_subject_avatar {
  float: left;
  margin-right: 5px;
  height: 50px;
  width: 50px
}

.meter_subject_name {
  float: left;
}

.meter_button_wrapper {
  margin: 10px 0 5px;
  text-align: center;
}

.meter_buttons {
  display: inline-block;
}

.meter_header {
  background: $shiftGray;
}