
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import 'compass';

// Shift Libraries
@import 'base/toolbox';
@import 'base/bootstrap_mixins';
@import 'base/reset';
@import 'base/vars';
@import 'base/colors';
@import 'base/text';
@import 'base/links';
@import 'base/buttons';
@import 'base/forms';
@import 'base/icons';
/* app css stylesheet */

* {
  @extend .helvetica;
}

.hide {
  display: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li.hide {
  display: none;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

p.status {
  color: red;
}

p.status.good, p.good {
  color: green;
}

form label {
  display: block;
  margin: 15px 0;
}

form label span {
  display: block;
  font-weight: bold;
}

.error {
  color: red;
}

fieldset {
  float: left;
  margin-right: 25px;
  padding: 25px;
}

