<h2>Home</h2>

<p class="status good" ng-show-auth="login">Hello {{currentUser.username}}! You are logged in.</p>
<p class="status" ng-show-auth="logout">Not logged in</p>
<p class="status error" ng-show-auth="error">{{auth.error}}</p>

<div data-ng-repeat="(meterId, meter) in meters" style="display:inline-block;width:400px;height:250px;">
  <div sa-meter="meter" meter-id="{{meterId}}" data-ng-if="meter.active"></div>
</div>


<h3>Create a new meter</h3>
<input type="text" ng-model="newMeter.name">
<div angucomplete placeholder="Search employees" selectedobject="selectedEmployee" searchfields="displayName,username" minlength="1" localdata="angucompleteUsers" titlefield="username" descriptionfield="displayName" imagefield="avatar_url"></div>

<button ng-click="createMeter()">Create New Meter</button>

<p>Open <a href="{{FBURL}}/syncedValue">Forge</a> or a <a target="_blank" href="index.html">new window</a> to see this input update in real time:</p>

