{{meter.name}} {{_calcValue}} <img src="{{subject.avatar_url}}" style="height:32px;width:32px;" data-ng-if="subject.avatar_url">{{subject.displayName}}
<button ng-click="addDataPoint(1)" ng-show-auth="login">+1</button>
<button ng-click="addDataPoint(-1)" ng-show-auth="login">-1</button>
<nvd3-line-chart
  data="chartData"
  id="chart-{{meterId}}"
  width="400"
  height="200"
  x="xFunction()"
  y="yFunction()"
  xAxisTickFormat="xAxisTickFormatFunction()"
  yAxisTickFormat="yAxisTickFormatFunction()"
  interactive="true"
  showXAxis="true"
  showYAxis="true">
  <svg></svg>
</nvd3-line-chart>