<div class="meter_wrapper">
  <div class="meter_header">
    <div class="meter_title">
      {{meter.name}}
    </div>

    <div class="meter_subject_wrapper">
      <img src="{{subject.avatar_url}}" data-ng-if="subject.avatar_url" class="meter_subject_avatar">
      <div class="meter_subject_name">
        {{subject.displayName}}
      </div>
      <br />
      <div class="meter_value">
        Current Level: {{_calcValue}}
      </div>
    </div>
    <div style="clear:both"></div>
  </div>

  <nvd3-line-chart
    data="chartData"
    id="chart-{{meterId}}"
    width="400"
    height="200"
    x="xFunction()"
    y="yFunction()"
    xAxisTickFormat="xAxisTickFormatFunction()"
    yAxisTickFormat="yAxisTickFormatFunction()"
    interactive="true"
    showXAxis="true"
    showYAxis="true">
    <svg></svg>
  </nvd3-line-chart>
  <div class="meter_button_wrapper">
    <div class="">
      <button ng-click="addDataPoint(-10)" ng-show-auth="login" class="sa_button sa_small sa_blue">-10</button>
      <button ng-click="addDataPoint(-5)" ng-show-auth="login" class="sa_button sa_small sa_blue">-5</button>
      <button ng-click="addDataPoint(-1)" ng-show-auth="login" class="sa_button sa_small sa_blue">-1</button>
      <button ng-click="addDataPoint(1)" ng-show-auth="login" class="sa_button sa_small sa_blue">+1</button>
      <button ng-click="addDataPoint(5)" ng-show-auth="login" class="sa_button sa_small sa_blue">+5</button>
      <button ng-click="addDataPoint(10)" ng-show-auth="login" class="sa_button sa_small sa_blue">+10</button>
    </div>
  </div>
</div>