.sa-icon-1-2x {
  font-size: 1.2em;
  &.icon-border {
    border-width: 2px;
    @include border-radius(4px);
  }
}

.sa-icon-2x {
  font-size: 2em;
  &.icon-border {
    border-width: 2px;
    @include border-radius(4px);
  }
}

.sa-icon-3x {
  font-size: 3em;
  &.icon-border {
    border-width: 3px;
    @include border-radius(5px);
  }
}

.sa-icon-4x {
  font-size: 4em;
  &.icon-border {
    border-width: 4px;
    @include border-radius(6px);
  }
}

// Font File Information
@font-face {
  font-family: "sa-icons";
  src: url("https://s3.amazonaws.com/shift_assets/fonts/shift_icons/v4/1403197349.eot");
  src: url("https://s3.amazonaws.com/shift_assets/fonts/shift_icons/v4/1403197349.eot#iefix") format("embedded-opentype"),
  url("https://s3.amazonaws.com/shift_assets/fonts/shift_icons/v4/1403197349.woff") format("woff"),
  url("https://s3.amazonaws.com/shift_assets/fonts/shift_icons/v4/1403197349.ttf") format("truetype"),
  url("https://s3.amazonaws.com/shift_assets/fonts/shift_icons/v4/1403197349.svg#1403197349") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "sa-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sa-icon-"]:before,
[class*=" sa-icon-"]:before {
  font-family: "sa-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sa-icon-settings:before {
  content: "-";
}
.sa-icon-add:before {
  content: "a";
}
.sa-icon-add-sm:before {
  content: "b";
}
.sa-icon-add-solid:before {
  content: "c";
}
.sa-icon-arrow-down:before {
  content: "d";
}
.sa-icon-arrow-down-solid:before {
  content: "e";
}
.sa-icon-arrow-give:before {
  content: "f";
}
.sa-icon-arrow-receive:before {
  content: "g";
}
.sa-icon-arrow-right:before {
  content: "h";
}
.sa-icon-arrow-right-solid:before {
  content: "i";
}
.sa-icon-arrow-trade:before {
  content: "j";
}
.sa-icon-back:before {
  content: "k";
}
.sa-icon-cal:before {
  content: "l";
}
.sa-icon-cal-blackout-slant:before {
  content: "n";
}
.sa-icon-cal-date:before {
  content: "o";
}
.sa-icon-cal-date-slant:before {
  content: "p";
}
.sa-icon-cal-slant:before {
  content: "q";
}
.sa-icon-cancel:before {
  content: "r";
}
.sa-icon-cancel-sm:before {
  content: "s";
}
.sa-icon-cancel-solid:before {
  content: "t";
}
.sa-icon-chat:before {
  content: "u";
}
.sa-icon-chat-slant:before {
  content: "v";
}
.sa-icon-clear-board:before {
  content: "w";
}
.sa-icon-clock:before {
  content: "x";
}
.sa-icon-collapse-all-sm:before {
  content: "y";
}
.sa-icon-collapse-all-thin:before {
  content: "z";
}
.sa-icon-copy:before {
  content: "A";
}
.sa-icon-directions:before {
  content: "B";
}
.sa-icon-directions-slant:before {
  content: "C";
}
.sa-icon-drag-drop:before {
  content: "D";
}
.sa-icon-draggable-45:before {
  content: "E";
}
.sa-icon-draggable-69:before {
  content: "F";
}
.sa-icon-edit-alt:before {
  content: "H";
}
.sa-icon-expand-all-sm:before {
  content: "I";
}
.sa-icon-expand-all-thin:before {
  content: "J";
}
.sa-icon-forward:before {
  content: "K";
}
.sa-icon-gift:before {
  content: "L";
}
.sa-icon-gift-slant:before {
  content: "M";
}
.sa-icon-hamburger:before {
  content: "N";
}
.sa-icon-home:before {
  content: "O";
}
.sa-icon-info:before {
  content: "P";
}
.sa-icon-info-circled:before {
  content: "Q";
}
.sa-icon-logo:before {
  content: "R";
}
.sa-icon-logo-horizontal:before {
  content: "S";
}
.sa-icon-logout:before {
  content: "T";
}
.sa-icon-logout-slant:before {
  content: "U";
}
.sa-icon-message:before {
  content: "V";
}
.sa-icon-message-slant:before {
  content: "W";
}
.sa-icon-notes:before {
  content: "X";
}
.sa-icon-paste:before {
  content: "Y";
}
.sa-icon-phone:before {
  content: "Z";
}
.sa-icon-phone-alt:before {
  content: "0";
}
.sa-icon-print:before {
  content: "1";
}
.sa-icon-published:before {
  content: "2";
}
.sa-icon-published-solid:before {
  content: "3";
}
.sa-icon-redo:before {
  content: "4";
}
.sa-icon-remove:before {
  content: "5";
}
.sa-icon-remove-sm:before {
  content: "6";
}
.sa-icon-remove-solid:before {
  content: "7";
}
.sa-icon-remove-template:before {
  content: "8";
}
.sa-icon-round-logo:before {
  content: "9";
}
.sa-icon-save:before {
  content: "!";
}
.sa-icon-save-solid:before {
  content: "\"";
}
.sa-icon-smart-sched:before {
  content: "#";
}
.sa-icon-summary:before {
  content: "$";
}
.sa-icon-summary-slant:before {
  content: "%";
}
.sa-icon-template-editor:before {
  content: "&";
}
.sa-icon-template-from-day:before {
  content: "'";
}
.sa-icon-training:before {
  content: "(";
}
.sa-icon-training-solid:before {
  content: ")";
}
.sa-icon-undo:before {
  content: "*";
}
.sa-icon-use-template:before {
  content: "+";
}
.sa-icon-warning:before {
  content: ",";
}
.sa-icon-cal-blackout-1:before {
  content: ".";
}
.sa-icon-pay:before {
  content: "/";
}
.sa-icon-rank-01:before {
  content: ":";
}
.sa-icon-rank-02:before {
  content: ";";
}
.sa-icon-rank-03:before {
  content: "<";
}
.sa-icon-edit:before {
  content: "m";
}
.sa-feedback:before {
  content: "G";
}
.sa-icon-people-man:before {
  content: "=";
}
.sa-icon-people-woman:before {
  content: ">";
}
.sa-icon-people-woman-handsup:before {
  content: "?";
}
.sa-icon-people-working:before {
  content: "@";
}