@mixin sa-link-generator($linkColor, $hoverColor) {
  color: $linkColor;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  @extend .helvetica;

  &:visited {
    color: $linkColor;
  }

  &:hover {
    color: $hoverColor;
  }

  &:active {
    color: darken($linkColor, 10%);
  }
}

.sa_link {
  &.sa_blue {

    &.sa_darktheme {
      @include sa-link-generator($shiftBlue, $shiftOffwhite);
    }

    &.sa_lighttheme {
      @include sa-link-generator($shiftBlue, darken($shiftBlue, 5%));
    }
  }
}